# Python
__pycache__/
*.pyc

# Virtual Environment
.venv/
venv/

# Database
db.sqlite3
*.sqlite3

# Django
media/
staticfiles/

# Environment
.env
secrets.py

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db
